body {
  margin: 0;
  display: flex;
  place-items: center;
  background: #1E1159;
}

#root {
  max-width: none;
  margin: 0 auto;
  /* padding: 2rem; */
  /* padding: 0; */
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: 2px solid white;
}

main {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
